body {
	font-family: Helvetica;

	font-size: 18px;
	text-align: center;
	margin: 0px;
	color: #aaa;
	position: relative;
}

body * {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

a:active, a:hover {
	color: black;
}

.menu ul, .menu li {
	display: block;
	list-style: none;
	padding: 0px;
}

.menu li {
	text-transform: uppercase;
	padding-bottom: 8px;
}
/*
.menu li > a {
	display: block;
	background-color: #333;
	color: white;
}

.menu li > a:hover {
	background-color: #eee;
	color: black;
}*/

.menu {
	margin: 10px;
	width: 100%;
	clear: both;
}

header {
	position: relative;
	font-family: 'Shadows Into Light';
	font-size: 16vw;
}

header .heavy {
	font-family: 'Dancing Script';
	font-weight: 700;
	font-size: 166%;
	margin-top: -40px;
}

header .light {
	font-weight: 300;
	font-size: 50%;
	margin-top: -22px;
}

.logo {
	width: min-content;
	margin: auto;
	color: black;
	float: left;
	padding: 7vw;
}

.banner {
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.banner-img {
	width: 100%;
	margin-top: -25%;
}

footer {
	padding: 20px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid black;

	height: 70px;
}

body {
	padding-bottom: 100px;
}

.socialmedia-icon, .icon {
	width: 32px;
}

.contacts {
	color: black;
	font-size: 22px;
}

.contacts .label {
	font-size: 38px;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Shadows Into Light';
}

.contacts .entry {
	margin: 15px;
}

.contacts div {
	
}

.hamburger-icon {
	display: none;
	top: 30vw;
	right: 20px;
	opacity: 0.3;
	position: absolute;
}

/* Style the navigation menu */
.menu {
	overflow: hidden;
	margin: 0px;
}

.menu li {
	padding: initial;
}

.menu #topnav .item.current {
	font-weight: bold;
	color: #333;
}

@media (max-width: 599px) {

	/* Style navigation menu links */
	.menu #topnav .item, .menu #topnav a {
		color: #333;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		display: block;
		border: 1px dotted white;
	}

	/* Add a grey background color on mouse-over */
	.menu #topnav .item:hover, .menu #topnav .item.current {
		background-color: #ddd;
		color: black;
	}

	.menu li > item, .menu #topnav a{
		padding: 5px;
		background-color: #eee;
	}
}
/* Style the active link (or home/logo) */
.active {
  background-color: #4CAF50;
  color: white;
}

@media (min-width: 460px) {
	header {
		font-size: 60px;
	}
}
@media (min-width: 600px) {
  .logo {
		float: initial;
		padding: 0;
  }

  body {
		font-size: 14px;
  }
  
  footer {
		height: 100px;
	}
	
	.menu li + li:before {
		content: "•";
		display: inline-block;
		padding-left: 22px;
		padding-right: 24px;
	}

	.menu ul, .menu li {
		display: inline-block;
	}
}