html, body {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: gotham_book,"Helvetica Neue",Helvetica,Arial,sans-serif;

  overflow: auto;
  font-size: 18px;
  height: 100vh;

  background-image: url("banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #808380bd;
}

h1, h2 {
  color: #940c67;
  margin-bottom: 5px;
  padding-top: 15px;
}

iframe {
  opacity: 0.88;
}

ul {
  padding-inline-start: 20px;
  margin-block-start: 0.5em;
}

.container {
  max-width: 740px;
  margin: -10 auto;
  background-color: #d5fbd5b0;
  min-height: 100%;
  min-height: 100vh;

  text-shadow: 0px 0px 15px #d5fbd5;
  box-shadow: inset 0px 0px 10px 1px #000000;
  backdrop-filter: brightness(300%) contrast(50%);
}

header {
  text-align: center;
  overflow: hidden;
}

main, footer {
  padding: 25px;
}

footer {
  text-align: right;
  position: sticky;
  bottom: -20px;
}


main a:hover {
  text-decoration: none;
  color: #d5fbd5;
  background-color: #940c67;
  outline: 2px solid #940c67db;
}

a.social {
  margin: 0 4px;
}

a.social > img:hover {
  filter: drop-shadow(8px 7px 10px #333d);
}

a.social > img {
  width: 48px;
  height: 48px;
  filter: drop-shadow(0px 0px 15px #d5fbd5);

  transition-property: filter;
  transition-duration: 0.3s;
}

.topic, .date {
  font-weight: bold;
}
